@model List<EShop.Domain.Entities.Site.SiteBanner>
@using EShop.Application.EntitiesExtensions;


@if (Model != null && Model.Any())
{
    <section class="banner">
        <div class="container-fluid">
            <!-- Adding a heading for SEO purposes, but hiding it visually -->
            <h2 class="section-title visually-hidden">بنر های تبلیغاتی</h2> <!-- Hidden from view but present for SEO -->
            <div class="row">
                @foreach (var banner in Model)
                {
                    <div class="col-lg-@((int)banner.GridColumnSize)">
                        <a href="@banner.Link">
                            <div class="banner-image-parent">
                                <div class="banner-image-main">
                                    <img src="@banner.GetSiteMainImageAddress()" alt="@banner.Description" title="@banner.Description" class="rounded-4 h-auto">
                                </div>
                                <div class="banner-image-blur">
                                    <img src="@banner.GetSiteMainImageAddress()" alt="@banner.Description" title="@banner.Description">
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <section class="banner">
        <div class="container-fluid">
            <!-- Adding a heading for SEO purposes, but hiding it visually -->
            <h2 class="section-title visually-hidden">بنر های تبلیغاتی</h2> <!-- Hidden from view but present for SEO -->
            <partial name="NoItemFound" />
        </div>
    </section>
}