@model EShop.Domain.DTOs.Site.SiteSettingDto

@{
    ViewData["Title"] = "تنظیمات وب سایت";
}

<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-xl">
        <div class="nk-content-body">
            <div class="nk-block">
                <div class="card">
                    <div class="card-aside-wrap">
                        <div class="card-inner card-inner-lg">
                            <div class="nk-block-head nk-block-head-lg">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h4 class="nk-block-title">@ViewData["Title"]</h4>
                                        <div class="nk-block-des">
                                        </div>
                                    </div>
                                    <div class="nk-block-head-content align-self-start d-lg-none">
                                        <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                    </div>
                                </div>
                            </div>
                            <!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="nk-data data-list">
                                    <div class="data-head">
                                        <h6 class="overline-title">پایه</h6>
                                    </div>
                                    <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                        <div class="data-col">

                                            <span class="data-label">نام وب سایت</span>
                                            <span class="data-label">@Model.SiteName</span>

                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <!-- data-item -->
                                    <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                        <div class="data-col">

                                            <span class="data-label">پست الکترونیک</span>


                                            <span class="data-value">@Model.Email</span>

                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <!-- data-item -->
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">تلفن همراه</span>


                                            <span class="data-value">@Model.Mobile</span>

                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <!-- data-item -->
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">تلفن ثابت</span>


                                            <span class="data-value">@Model.Phone</span>

                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <!-- data-item -->
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">متن فوتر</span>


                                            <span class="data-value">@Model.FooterText</span>

                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <!-- data-item -->
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">اسکریپت نقشه</span>


                                            <span class="data-value">@Model.MapScript</span>

                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <!-- data-item -->
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">آدرس</span>


                                            <span class="data-value">@Model.Address</span>

                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <!-- data-item -->
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">اصلی هست؟</span>

                                            @if (Model.IsDefault)
                                            {

                                                <span class="data-value">بله!</span>

                                            }
                                            else
                                            {

                                                <span class="data-value">خیر</span>

                                            }
                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <!-- data-item -->
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">متن کپی رایت</span>


                                            <span class="data-value">@Model.CopyRight</span>

                                        </div>
                                        <div class="data-col data-col-end">
                                            <a asp-area="Administration" asp-controller="Home" asp-action="EditSiteSetting"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></a>
                                        </div>
                                    </div>
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">تاریخ ایجاد</span>


                                            <span class="data-value">@Model.CreateDate</span>

                                        </div>
                                    </div>
                                    <div class="data-item">
                                        <div class="data-col">

                                            <span class="data-label">تاریخ آخرین به روزرسانی</span>


                                            <span class="data-value">@Model.LastUpdateDate</span>

                                        </div>
                                    </div>
                                    <!-- data-item -->
                                </div>
                            </div>
                            <!-- .nk-block -->
                        </div>

                        <!-- card-aside -->
                    </div>
                    <!-- .card-aside-wrap -->
                </div>
                <!-- .card -->
            </div>
            <!-- .nk-block -->
        </div>
    </div>
</div>